.manage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; 
    padding: 1rem;
  }
  
  .one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  