.menu {
  width: 100%;
  height: 200px;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.auction {
  width: 100%;
  height: 200px;
  background-color: #e0e0e0;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.search_bar {
  width: 100%;
  height: 50px;
  background-color: #ddd;
  margin-bottom: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.mainPage {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: calc(25% - 1rem); 
}

.mainPage img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.mainPage .title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.mainPage .description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.mainPage .price {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #2d2d2d;
}


