.navbar{
    display: flex;
    flex-direction: row;
}
div{
    flex-direction: row;
    flex: 1;
}
.nav-buttons{
    float: left;
}
#navbar-logo{
    width: 10vw;
    height: 10vh;
    float: left;
}
.logo{
    float: left;
}

#navbar-logo :hover {
    cursor: pointer;
}