@media (max-width: 1280px) {
  body {
    background-color: red; /* Example style */
  }

  .containor {
    border: 3px solid gray;
    padding: 0.2rem;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }

  .info {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #333;
  }

  .btns {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #0fa0bd;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 1rem;
    
    font-size: 1.2rem;
    margin: 0.4rem;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  #cart{
    padding: 0.5rem 1rem;
  }
  button:hover {
    background-color: #e0431a;
  }
}

/* Media Query for Low-Resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellow; /* Example style */
  }
}

/* Media Query for Tablets (Portrait Mode) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: blue; /* Example style */
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: aliceblue;
  }
  .containor {
    border: 3px solid gray;
    padding: 0.2rem;
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img img {
    margin-top: 0.7rem;
    width: 90%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
  }

  .info {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  h3 {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #333;
  }

  .btns {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #0fa0bd;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem;

    font-size: 1.2rem;
    margin: 0.4rem;
    border-radius: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #e0431a;
  }
}

@media (min-width: 1281px) {
  body {
    background-color: white; /* Example style */
  }
}
